.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.buttonContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
button {
  margin: 5px;
}
.formContainer {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainContainer {
  height: 100%;
}

input {
  width: 300px;
  height: 30px;
}


