<!--<p>profilo di {{(singleCharacter | async)?.name}}</p>-->
<div *ngIf="(characterAndFormInit$ | async) as character">
  <div class="container">
    <div class="imgContainer">
      <img src="character.image" alt="">
    </div>
  </div>

  <form *ngIf="(myForm$ | async) as myForm" [formGroup]="myForm" (ngSubmit)="saveCharacter()">
    <label for="nome">Name:</label>
    <input type="text" id="nome" formControlName="nome">

    <label for="status">Status:</label>
    <select name="status" id="status" formControlName="status">
      <option value="Dead">Dead</option>
      <option value="Alive">Alive</option>
      <option value="Unknown">Unknown</option>
    </select>


    <label for="location">Location:</label>
    <input type="text" id="location" formControlName="location">

    <label for="genere">Gender:</label>
    <input type="text" id="genere" formControlName="genere">

    <button type="submit">Salva</button>
  </form>
</div>


